<launch>
    <!-- UAV Server Node -->
    <node pkg="uav_server" type="uav_server" name="uav_server" output="screen">
        <param name="uav_server/loop_rate" value="50.0"/>
        <param name="uav_server/takeoff_height" value="0.7"/>
        <param name="uav_server/traj_file" value="$(find uav_server)/traj/traj_0.txt" />
        <remap from="/uav_odom" to="/ov_msckf/odomimu" />
    </node>

    <!-- Rosbag Record Node -->
    <node pkg="rosbag" type="record" name="rosbag_record" output="screen" required="true" args="-o $(find uav_server)/data/uav_record --lz4 /mavros/setpoint_raw/local /uav_odom" />
</launch>
